.feedback-table{
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    background-color: white;
    margin: 15px;
    direction: rtl;
    text-align: right;
    table-layout: fixed;
}

.feedback-modal{
    font-family: 'Arimo', sans-serif !important;
    font-size: 16px;
    direction: rtl;
    text-align: center;

}

.feedback-table tbody tr td:first-child {
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    word-break: break-all;
}

.feedback-link{
    font-size: 14px;
}

.feedback-icon{
    margin: auto 7.5px;
    color: white;
}

.terminal-feedback-icon{
    margin: auto 7.5px;
    color: #999999;
}


.feedback-modal-title{
    font-size: 35px;
    margin: 30px 50px 10px 50px;
}

.feedback-modal-failure-text{
    color: #e7413b;
}

.red{
    background-color: #e7413b;
}
.red-text{
    color: #e7413b;
}

.green-text{
    color: #43ac6a;
}

.black-text{
    color: #1a1a1a;
}

.green{
    background-color: #43ac6a;
}

.feedback-row{
    min-height: 100px;
}

.modal.modal-wide .modal-dialog {
    width: 850px;
}

.feedback-shell{
    direction: ltr;
    text-align: left;
}

.feedback-description{
    text-align: right;
}

/* The main graybox that surrounds the feedback html */
#task_alert b{
    font-size: 18px;
}

.feedback-modal-table>tbody>tr>td {
    border: none;
}

.feedback-modal-body{
    margin: auto 35px;
}

.scenario-text{
    font-weight: 900;
}
